/* header.component.scss */

/* Header container */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 0px 0;
  border-bottom: 2px groove #8b8b8b;
  text-align: center; /* Center the image horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

/* Clickable image */
img.clickable-image {
  width: 140px; /* Adjust the width as needed */
  height: 110px; /* Adjust the height as needed */
  cursor: pointer;
  margin: 0 auto; /* Center the image vertically within the header */
}

/* Media query for small screens */
@media (max-width: 767px) {
  header {
    padding: 5px;
  }

  img.clickable-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
}
