<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.6.0/font/bootstrap-icons.min.css">
<section class="text-center">
    <h1>Kontakta mig</h1>
    <p>Här hittar du direktlänkar till min github och linkedin, det går också bra att höra av sig på min mail som du hittar på mitt CV</p>
  </section>
  <section class="links-container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center">
          <div class="link-item">
            <a href="https://github.com/erikniska" target="_blank" class="btn-icon"><i class="bi bi-github"></i></a>
          </div>
        </div>
        <div class="col-md-6 mx-auto text-center">
          <div class="link-item">
            <a href="https://www.linkedin.com/in/erik-niska-9864a5269/" target="_blank" class=" btn-icon"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
  </section>
  
 
