<section class="container">
  <div class="row">
    <div class="col-md-12 cv"> 
      <h2 class="container-h2">Mitt CV</h2>
      <div class="mt-3">    
         <a href="https://drive.google.com/uc?export=download&id=1NyeTatgLs6fU1IgZVa053TAD94juhh6V">
        <div class="fourth-button">
            <p>
              Ladda hem CV
            </p>
        </div>
    </a>
        <a href="https://drive.google.com/uc?export=download&id=13LuZ5bqP44xEodMIiil8tNLTcEonc0OR">
          <div class="fourth-button">
              <p>
              Download in English
              </p>
          </div>
      </a>
 
      </div>
    </div>
  </div>
</section>





