<section class="container">
  <div class="row">
    <div class="col-md-12 cv"> 
      <img class="img-fluid" [src]="'assets/images/Erik Niska CV.jpg'">
      <div class="mt-3">
        <a href="https://drive.google.com/uc?export=download&id=1NyeTatgLs6fU1IgZVa053TAD94juhh6V" download class="btn btn-outline-dark mr-2">Ladda hem CV</a>
        <a href="https://drive.google.com/uc?export=download&id=13LuZ5bqP44xEodMIiil8tNLTcEonc0OR" download class="btn btn-outline-dark ">Download in English</a>
      </div>
    </div>
  </div>
</section>




